# Week 1 handin

## 01 Assignment
1. Create 5 list comprehensions to solve the following 5 problems:
  1. Iterate a list of names to return a list of the names starting with H
  2. In one line create a list of the numbers 1-100 to the power of 3
  3. Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name
  4. Iterate over each character in a string and get only those that are nummeric
  5. Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)

2. Create 2 dictionary comprehensions to solve the following:
  1. Iterate a list of names and create a dictionary where key is the name and value is the length of the name
  2. Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}

3. Extra assignment (This one goes beyond what is covered in the course notebooks. So only do it if you want an extra challenge).
  - Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys and their likelyhood in percent as values

## 02 Status
Here is a status on the handin. How far you got. What is implemented and what is not

## 03 Solution part 1

In [1]:
#A
names = list(["Liam","Noah","Oliver","William","Elijah","James","Benjamin","Lucas","Mason","Ethan","Alexander","Henry","Jacob","Michael","Daniel","Logan","Jackson","Sebastian","Jack","Aiden","Owen","Samuel","Matthew","Joseph","Levi","Mateo","David","John","Wyatt","Carter","Julian","Luke","Grayson","Isaac","Jayden","Theodore","Gabriel","Anthony","Dylan","Leo"])
[n for n in names if n[0] == "H"]

['Henry']

In [2]:
#B
list([(i+1)**3 for i in range(100)])

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [3]:
#C
tup = [(n, len(n)) for n in names]
tup

[('Liam', 4),
 ('Noah', 4),
 ('Oliver', 6),
 ('William', 7),
 ('Elijah', 6),
 ('James', 5),
 ('Benjamin', 8),
 ('Lucas', 5),
 ('Mason', 5),
 ('Ethan', 5),
 ('Alexander', 9),
 ('Henry', 5),
 ('Jacob', 5),
 ('Michael', 7),
 ('Daniel', 6),
 ('Logan', 5),
 ('Jackson', 7),
 ('Sebastian', 9),
 ('Jack', 4),
 ('Aiden', 5),
 ('Owen', 4),
 ('Samuel', 6),
 ('Matthew', 7),
 ('Joseph', 6),
 ('Levi', 4),
 ('Mateo', 5),
 ('David', 5),
 ('John', 4),
 ('Wyatt', 5),
 ('Carter', 6),
 ('Julian', 6),
 ('Luke', 4),
 ('Grayson', 7),
 ('Isaac', 5),
 ('Jayden', 6),
 ('Theodore', 8),
 ('Gabriel', 7),
 ('Anthony', 7),
 ('Dylan', 5),
 ('Leo', 3)]

In [4]:
#D
s = "adad21312asd211asd322sad21"
for c in s: 
    if c.isnumeric():
        print(c)

2
1
3
1
2
2
1
1
3
2
2
2
1

In [5]:
#E
dice = set(str(d1) + " : " + str(d2) for d1 in range(1,7) for d2 in range(1,7))
dice

{'1 : 1',
 '1 : 2',
 '1 : 3',
 '1 : 4',
 '1 : 5',
 '1 : 6',
 '2 : 1',
 '2 : 2',
 '2 : 3',
 '2 : 4',
 '2 : 5',
 '2 : 6',
 '3 : 1',
 '3 : 2',
 '3 : 3',
 '3 : 4',
 '3 : 5',
 '3 : 6',
 '4 : 1',
 '4 : 2',
 '4 : 3',
 '4 : 4',
 '4 : 5',
 '4 : 6',
 '5 : 1',
 '5 : 2',
 '5 : 3',
 '5 : 4',
 '5 : 5',
 '5 : 6',
 '6 : 1',
 '6 : 2',
 '6 : 3',
 '6 : 4',
 '6 : 5',
 '6 : 6'}

## 04 Solution part 2

In [110]:
#A
dict({str(n): len(n) for n in names})

{'Liam': 4,
 'Noah': 4,
 'Oliver': 6,
 'William': 7,
 'Elijah': 6,
 'James': 5,
 'Benjamin': 8,
 'Lucas': 5,
 'Mason': 5,
 'Ethan': 5,
 'Alexander': 9,
 'Henry': 5,
 'Jacob': 5,
 'Michael': 7,
 'Daniel': 6,
 'Logan': 5,
 'Jackson': 7,
 'Sebastian': 9,
 'Jack': 4,
 'Aiden': 5,
 'Owen': 4,
 'Samuel': 6,
 'Matthew': 7,
 'Joseph': 6,
 'Levi': 4,
 'Mateo': 5,
 'David': 5,
 'John': 4,
 'Wyatt': 5,
 'Carter': 6,
 'Julian': 6,
 'Luke': 4,
 'Grayson': 7,
 'Isaac': 5,
 'Jayden': 6,
 'Theodore': 8,
 'Gabriel': 7,
 'Anthony': 7,
 'Dylan': 5,
 'Leo': 3}

In [7]:
#B
num = list([18,41,12,65,34,2,67,88,55,32,123,76,87,12])
dict({n,n**2} for n in num)

{18: 324,
 41: 1681,
 144: 12,
 65: 4225,
 34: 1156,
 2: 4,
 4489: 67,
 88: 7744,
 3025: 55,
 32: 1024,
 15129: 123,
 5776: 76,
 7569: 87}

## 05 Solution part 3

In [145]:
l = list([str(n)+str(x) for n in range(1,7) for x in range(1,7)])
dicti = dict() 

for n in l: 
    dicti[n] = 1/36*100
    for x in l: 
        if n == x[::-1] and n != x: 
            dicti[n] += 1/36*100
            if n > x: del dicti[n]
dicti

{'11': 2.7777777777777777,
 '12': 5.555555555555555,
 '13': 5.555555555555555,
 '14': 5.555555555555555,
 '15': 5.555555555555555,
 '16': 5.555555555555555,
 '22': 2.7777777777777777,
 '23': 5.555555555555555,
 '24': 5.555555555555555,
 '25': 5.555555555555555,
 '26': 5.555555555555555,
 '33': 2.7777777777777777,
 '34': 5.555555555555555,
 '35': 5.555555555555555,
 '36': 5.555555555555555,
 '44': 2.7777777777777777,
 '45': 5.555555555555555,
 '46': 5.555555555555555,
 '55': 2.7777777777777777,
 '56': 5.555555555555555,
 '66': 2.7777777777777777}

In [142]:
x = 0
for i in dicti:
    print(x)
    x += float(dicti[i])
    
x

0
2.7777777777777777
8.333333333333332
13.888888888888888
19.444444444444443
25.0
30.555555555555557
33.333333333333336
38.88888888888889
44.44444444444445
50.00000000000001
55.555555555555564
58.33333333333334
63.8888888888889
69.44444444444446
75.00000000000001
77.77777777777779
83.33333333333334
88.8888888888889
91.66666666666667
97.22222222222223

100.0

In [60]:
combs = []
for n in dice:
    val = n.split(" : ")
    if val[0] > val[1]:
        combs.append(val[1] + val[0])
    else:
        combs.append(val[0] + val[1])
combs.sort()  

pre = ""
stats = dict()
for c in combs:
    if pre == c:
        stats[c] = stats[c] * 2
    else:
        stats[c] = 1/36*100
    pre = c
print(stats)

{'11': 2.7777777777777777, '12': 5.555555555555555, '13': 5.555555555555555, '14': 5.555555555555555, '15': 5.555555555555555, '16': 5.555555555555555, '22': 2.7777777777777777, '23': 5.555555555555555, '24': 5.555555555555555, '25': 5.555555555555555, '26': 5.555555555555555, '33': 2.7777777777777777, '34': 5.555555555555555, '35': 5.555555555555555, '36': 5.555555555555555, '44': 2.7777777777777777, '45': 5.555555555555555, '46': 5.555555555555555, '55': 2.7777777777777777, '56': 5.555555555555555, '66': 2.7777777777777777}

In [66]:
# print(dice)
d = dict()
for s in dice:
    key = int(s.split(" : ")[0]) + int(s.split(" : ")[1])
    if key in d.keys():
        d[key] += 1/36*100
    else:
        d[key] = 1/36*100

d

{8: 13.88888888888889,
 10: 8.333333333333332,
 4: 8.333333333333332,
 7: 16.666666666666668,
 12: 2.7777777777777777,
 9: 11.11111111111111,
 6: 13.88888888888889,
 3: 5.555555555555555,
 5: 11.11111111111111,
 2: 2.7777777777777777,
 11: 5.555555555555555}